<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Our Page</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">

    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>
    <script type="text/javascript" src="javascript/main.controller.js"></script>
</head>
<body ng-app="mainApp" >
    <div ng-include="'views/navbar.html'"></div>
    <div class="container">
        <div class="jumbotron">
            <p>Look, a cat!</p>
        </div>
    </div>
    <figure>
    <img src="http://fc04.deviantart.net/fs70/i/2010/244/e/4/happy_cat_by_geardupfritz-d2xspdk.jpg" class="img-rounded" alt="A happy cat">
        <figcaption align="center">Take advice from the cat, and just smile!</figcaption>
    </figure>
</body>
</html>